/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body{
    font-family: 'Open Sans', sans-serif;
}

header{
    height: 75px;
    width:100%;
    padding:20px 20px 0 20px;

}



header ul li{
    list-style-type:none;
    display: inline-block;
    padding-left: 30px;
    font-size: 0.8em;
    font-weight: bold;
}

h1{
    font-size: 4em;
}

h2{
    font-size: 2em;
}

h3{
    padding-bottom:10px;
}

li{
    list-style-type: none;
}

.upper-column ul{
    padding-top:20px;
}

.upper-column li{
    font-size: .7em;
    padding-bottom:10px;
}

.upper-column button{
    margin-top:30px;
    margin-bottom:20px;
    padding:5px 10px;
}

.lower-column li{
    padding-top: 10px;
    padding-left:15px;
    font-size: .8em;
    
}

.lower-enterprise p{
    font-size:.8em;
    padding-top: 20px;
}

#partner-text h3{
    padding-bottom: 25px;
}

#affiliated-company  h2{
    margin-bottom:20px;
}

#free-trial h2{
    color: rgb(90, 13, 36);
}

#header-button{
    margin-left: 30px;
}

#jumbo-section{
    background-color: lightblue;
    padding:90px 110px 0 110px;
}

#business-plan-section{
    margin-top:150px;
    
}

#fatturazione{
    padding-top: 50px;
    padding-bottom: 20px;
}

#central-column{
    margin:0 53px;
    
}

#vertical-column{
    height:1100px;
}

#partner-section{
    margin-top:100px;
}

#partner-image{
    width: 55%;
}

#partner-text{
    width:43%;
    padding: 25px;
}

#partner-button{
    background-color: white;
    margin-top: 15px;
    border:.5px solid black;
}

#dropbox-business-section{
    margin-top: 70px;
}

#affiliated-company{
    margin-top: 150px;
}

#designit-row{
    margin-top: 35px;
    height: 400px;
}

#central-designit{
    width: 40%;
    padding: 50px;
}

#upper-designit{
    height: 70px;
}

#designit-paragraph{
    padding: 25px 0;
}

#designit-black{
    width: 100px;
}

#free-trial{
    height:350px;
}

#free-trial-row{
    height: 100%;
    padding: 150px 0;
}


.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.fl{
    float:left;
}

.fr{
    float:right;
}

.button{
    padding:5px 15px;
    border: none;

}

.bg-blue{
    background-color: rgb(0, 68, 255);
    color: white;
}

.row{
    padding-top: 40px;
}

.relative{
    position: relative;
}

.left-txt{
    width:35%;
    padding-bottom: 150px;
}

.right-img{
    width:65%;
    position: absolute;
    right:0;
    top: 50px;
}

.section-dimensions{
    width:80%;
    margin:0 auto;
}

.column{
    width:30%;
}

.single-team{
    border: solid black 0.5px;
    padding:10px;

}

.upper-column{
    border: .5px solid black;
    border-top: none;
    border-bottom: none;
    padding:20px;
    height: 400px;

}


.fa-check{
    color:royalblue;
}

.lower-column{
    border:.5px solid black;
    padding: 15px;
    border-top: none;
    height: 500px;

}

.durability-plan{
    color:gray;
    font-size:0.8em;
    padding:5px 0;
}

.link-text{
    font-size:0.8em;
}

.single-team{
    text-align: center;
}

.lower-enterprise{
    border: 1px solid black;
    border-top: none;
    padding: 20px;
}

.paragraph-font{
    font-size: 0.9em;
}

.row{
    margin-top: 20px;
}

.row-element{
    width:30%;
    padding:20px;
}

.central-row-element{
    margin:0 20px;
}

.aside-companies{
    height: 100%;
    width: 30%;
    background-color: royalblue;
}

.single-company{
    width: 50%;
    height: 50%;
    padding: 20% 50px 20% 50px;
    text-align: center;
}

.company-logo{
    width: 75%;
    filter: invert(1);
}


.bg-light-green{
    background-color: lightgreen;
}

.bg-bordeaux{
    background-color: rgb(136, 18, 57);
}

.bg-turquoise{
    background-color: rgb(20, 135, 202);
}

.bg-red{
    background-color: red;
}

.bg-light-grey{
    background-color: rgb(238, 234, 234);
}

.bg-dark-red{
    background-color: rgb(196, 1, 1);
}

.bg-light-blue{
    background-color: lightblue;
}

.bg-dark-blue{
    background-color: rgb(26, 0, 175);
}

.bg-gold{
    background-color: gold;
}